@layer shared {
	html {
		--dvh: 1dvh;

		/* Neutral */
		--colors-tones-neutral-n-100: #ffffff;
		--colors-tones-neutral-n-99: #f2f8fe;
		--colors-tones-neutral-n-97: #ebf4fc;
		--colors-tones-neutral-n-95: #e1eefa;
		--colors-tones-neutral-n-93: #d9e8f7;
		--colors-tones-neutral-n-90: #d0e0f1;
		--colors-tones-neutral-n-80: #b8cbe0;
		--colors-tones-neutral-n-70: #9bb2cf;
		--colors-tones-neutral-n-60: #7a94b8;
		--colors-tones-neutral-n-50: #5e7aa3;
		--colors-tones-neutral-n-40: #475e85;
		--colors-tones-neutral-n-30: #3b4c6d;
		--colors-tones-neutral-n-20: #2b3650;
		--colors-tones-neutral-n-10: #20273c;
		--colors-tones-neutral-n-0: #191e2f;

		/* Primary */
		--colors-tones-primary-p-99: #f0f6ff;
		--colors-tones-primary-p-95: #e0ecff;
		--colors-tones-primary-p-80: #a8c3ff;
		--colors-tones-primary-p-70: #85a8ff;
		--colors-tones-primary-p-60: #5f88fa;
		--colors-tones-primary-p-50: #456ded;
		--colors-tones-primary-p-40: #3a55cf;

		/* Secondary */
		--colors-tones-secondary-s-99: #edf8fc;

		/* Tertiary */
		--colors-tones-tertiary-t-99: #fff8e8;
		--colors-tones-tertiary-t-95: #ffebc4;
		--colors-tones-tertiary-t-90: #ffd894;
		--colors-tones-tertiary-t-80: #fac170;
		--colors-tones-tertiary-t-70: #f0af5b;
		--colors-tones-tertiary-t-60: #d68c38;
		--colors-tones-tertiary-t-50: #b26920;
		--colors-tones-tertiary-t-40: #944e12;
		--colors-tones-tertiary-t-20: #612904;

		/* Red */
		--colors-tones-red-r-99: #fff1f0;
		--colors-tones-red-r-95: #ffe1de;
		--colors-tones-red-r-90: #ffcdcc;
		--colors-tones-red-r-80: #fcb1b3;
		--colors-tones-red-r-70: #fc8993;
		--colors-tones-red-r-60: #ef6479;
		--colors-tones-red-r-50: #d44b67;
		--colors-tones-red-r-40: #ad3455;
		--colors-tones-red-r-30: #942647;
		--colors-tones-red-r-20: #701835;

		/* Green */
		--colors-tones-green-g-99: #edfaee;
		--colors-tones-green-g-95: #dbf5df;
		--colors-tones-green-g-90: #c8ebcf;
		--colors-tones-green-g-80: #abdbb8;
		--colors-tones-green-g-70: #83c99a;
		--colors-tones-green-g-60: #63ab7f;
		--colors-tones-green-g-50: #468c65;
		--colors-tones-green-g-40: #2d704e;
		--colors-tones-green-g-20: #164a35;

		/* Orange */
		--colors-tones-orange-o-60: #eb6e54;

		/* Semantic */
		--brand-colors--primary--dark: #102d68;
		--border-color--medium: var(--colors-tones-neutral-n-95);

		/* Sizes */
		--padding--xx-small: 0.25rem;
		--padding--x-small: 0.375rem;
		--padding--small: 0.5rem;
		--padding--medium-small: 0.75rem;
		--padding--medium: 1rem;
		--padding--large: 1.5rem;
		--padding--x-large: 2rem;

		--border-width--medium: 2px;
		--border-width--large: 3px;

		--border-radius--small: 4px;
		--border-radius--medium: 6px;
		--border-radius--large: 8px;
		--border-radius--x-large: 12px;

		--gap--x-small: 0.375rem;
		--gap--small: 0.5rem;
		--gap--medium: 1rem;

		--margin--x-small: 0.375rem;
		--margin--small: 0.5rem;
		--margin--medium: 1rem;
		--margin--large: 1.5rem;

		/* Components */
		--general---column-gap: var(--gap--medium);
		--button---font-weight: 600;

		--drop-shadow--low: 0px 1px 3px #1a1c6b0f, 0px 6px 12px #1a1c6b0a;
		--general__card---box-shadow: 1px 2px 6px 2px rgba(7, 14, 71, 0.1);
		--general__pop-up---box-shadow: var(--general__card---box-shadow);

		--general---theme-color: #fff;
		--general---theme-text-color: var(--general---color);

		--main---padding-top: var(--padding--large);

		--general---font-family: "Nunito", sans-serif;
		--general--heading---font-family: "Nunito Sans", sans-serif;
		font-family: var(--general---font-family);

		--general---line-height: 1.25;
		line-height: var(--general---line-height);

		--phone-number-input__country-code-button---font-size: 2rem;
	}

	body {
		color: var(--general---color);
		background-color: var(--general---theme-color);

		--scroll-target---scroll-margin-top: calc(var(--header---height) + var(--floating-elements--top---height, 0px));
		--scroll-target---scroll-margin-bottom: var(--floating-elements--bottom---height, 0px);

		--hub-create-page__header---height: calc(5.125rem + var(--margin--large));
	}

	main {
		width: 100%;
		min-height: calc(100 * var(--dvh));
	}

	button {
		font-family: var(--general---font-family);
		line-height: var(--general---line-height);
	}
}
